/* *{
  line-height: 1.4;
} */

body{
  /* height: 100%;
  background: linear-gradient(#212121,#263238);*/
  /* background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.6)), url(../../assets/images/clock.jpg);
  background-size: cover; */
  /*color: silver;
  text-align: center;
  background-attachment: fixed; */
  /* padding to prevent footbar from shadowing buttons on small screen */
  padding-bottom: 60px;
}
